---
layout: null
title: Matthew Martin
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<p> Ph.D. Student <br>
							University of Texas at Austin <br>
							Department of Government <p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Matthew Martin <br />
                 						</p>
								</header>
								
<span class="image left"><img src="{{ "/images/Website photo.jpeg" | absolute_url }}" alt="" /></span>
<p>
<b>Welcome!</b> I am a Ph.D. student in the <a href="https://www.utexas.edu/">Department of Government</a> at the <a href="https://liberalarts.utexas.edu/government/">University of Texas at Austin</a>. 

  <p>


							</article>


						
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
