<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">about</a></li>
  <li class="{% if page.url contains '/research/' %} active {% endif %}"><a href="{{ "/research/" | absolute_url }}">research</a></li>
    <li class="{% if page.url contains '/teaching/' %} active {% endif %}"><a href="{{ "/teaching/" | absolute_url }}">teaching</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">blog</a></li>
  <li class="{% if page.url contains '/CV/' %} active {% endif %}"><a href="{{ "/CV/" | absolute_url }}">CV</a></li>
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://linkedin.com/{{site.linkedin}}" class="icon fa-linkedin"rel="nofollow"><span class="label">LinkedIn</span></a></li>
  <li><a href="https://liberalarts.utexas.edu/{{site.university}}" class="icon fa-graduation-cap" rel="nofollow"><span class="label">Academic</span></a>
  <li><a href="https://orcid.org/my-orcid?orcid=0000-0003-3460-3603" class="fa-brands fa-orcid" rel="nofollow"><span class="label">Orcid</span></a>
</ul>
