```{=html}
<style type="text/css">
.grid-gallery {
  columns: 5 200px;
  column-gap: 0.5rem;
  width: 90%;
  margin: 0 auto;
}
.grid-item {
  width: 150px;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}
img.grid-item {
  width: 100%;
  transition: all .25s ease-in-out;
}
img.grid-item:hover {
  transform: scale(1.025);
}
</style>
```

::: {.grid-gallery}
<% 
// Define captions for each directory
const allCaptions = {
  '/gallery/photos/Cuba': {
    'contrasts_of_shade.jpg': 'My apartment in El Vedado',
    'potted_cat.jpg': 'Street cat amidst decay'
  },
  '/gallery/photos/Panama': {
    'mono.jpg': 'Monkey in the rainforest',
    'gato.jpg': 'Cat lounging in Panama City',
    'derechos.jpg': 'Rights mural'
  }
};

// Function to get caption for an image
function getCaption(imagePath) {
  const photoDir = imagePath.substring(0, imagePath.lastIndexOf('/'));
  const filename = imagePath.split('/').pop();
  
  const dirCaptions = allCaptions[photoDir];
  return dirCaptions ? dirCaptions[filename] : null;
}
%>

<% for (const item of items) { %>
::: {}
<div class="grid-item-container">
  ![](<%= item.path %>){.grid-item .lightbox loading="lazy" group="quarto-grid-gallery"}
  <% 
  const caption = getCaption(item.path);
  %>
  <% if (caption) { %>
  <div class="caption"><%= caption %></div>
  <% } %>
</div>
:::
<% } %>
:::